@{
    ViewBag.Title = "Index";
}
<!doctype html>  

<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html dir="ltr" lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
	
	<head>
		<meta charset="utf-8">
		
		<title></title>
		
		<!-- Google Chrome Frame for IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<!-- mobile meta (hooray!) -->
		<!-- <meta name="HandheldFriendly" content="True"> -->
		<!-- <meta name="MobileOptimized" content="320"> -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
		
		<!-- icons & favicons (for more: http://themble.com/support/adding-icons-favicons/) -->
		<link rel="shortcut icon" href="http://soworldwide.org/wp-content/themes/soww_theme/favicon.ico">
				
  		<link rel="pingback" href="http://soworldwide.org/xmlrpc.php">
		
		<!-- wordpress head functions -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<!--[if IE]>
			<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic" rel="stylesheet" type="text/css">
		<![endif]-->
		<link rel="alternate" type="application/rss+xml" title="Serving Orphans Worldwide &raquo; Feed" href="http://soworldwide.org/feed/" />
<link rel="alternate" type="application/rss+xml" title="Serving Orphans Worldwide &raquo; Comments Feed" href="http://soworldwide.org/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="Serving Orphans Worldwide &raquo; Home Comments Feed" href="http://soworldwide.org/home/feed/" />
<link rel='stylesheet' id='wpinstagram-css'  href='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/wpinstagram.css?ver=0.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-css-css'  href='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/js/fancybox/jquery.fancybox-1.3.4.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='bones-stylesheet-css'  href='http://soworldwide.org/wp-content/themes/soww_theme/library/css/style.css?ver=3.4.1' type='text/css' media='all' />
<!--[if lte IE 9]>
<link rel='stylesheet' id='bones-ie-only-css'  href='http://soworldwide.org/wp-content/themes/soww_theme/library/css/ie.css?ver=3.4.1' type='text/css' media='all' />
<![endif]-->
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js?ver=1.7.2'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/js/jquery.easing-1.3.pack.js'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/js/jquery.cycle.lite-1.5.min.js'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/js/jquery.fancybox-1.3.4.pack.js'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/plugins/instagram-for-wordpress/js/jquery.mousewheel-3.0.4.pack.js'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-includes/js/comment-reply.js?ver=3.4.1'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/themes/soww_theme/library/js/libs/modernizr.custom.min.js?ver=2.5.3'></script>
<link rel='canonical' href='http://soworldwide.org/' />
		<!-- end of wordpress head -->
			
		<!-- end analytics -->
		
	</head>
	
	<body class="home page page-id-4 page-template-default">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=206392089402409";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
		<div id="container">
			
			<header class="header" role="banner">
			
				<div id="inner-header" class="wrap clearfix">
					
					<!-- to use a image just replace the bloginfo('name') with your img src and remove the surrounding <p> -->
					<!-- <p id="logo" class="h1"><a href="http://soworldwide.org" rel="nofollow">Serving Orphans Worldwide</a></p> -->
					
					<!-- if you'd like to use the site description you can un-comment it below -->
										
					
					<nav role="navigation">
						<ul id="menu-top-left-nav" class="nav floatleft"><li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-32"><a href="http://soworldwide.org/">Home</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14"><a href="http://soworldwide.org/about/">About</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12"><a href="http://soworldwide.org/category/orphanages/">Orphanages</a></li>
</ul>						<ul id="menu-top-right-nav" class="nav floatright"><li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://soworldwide.org/projects/">Get Involved</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://soworldwide.org/media/">Media</a></li>
<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="http://soworldwide.org/contact/">Contact</a></li>
</ul>						<a id="logo" href="http://soworldwide.org" rel="nofollow"></a>
					</nav>
				
				</div> <!-- end #inner-header -->
			
			</header> <!-- end header -->
			<div id="contact_drawer">
				<div class="wrap clearfix">
					<h1 class="bold">We'd love to hear from you.</h1>
					<p><b>Serving Orphans Worldwide</b><br/>
					340 Martin Luther King, Jr. Blvd.<br/>
					Bristol, TN 37620</p>

					<p>Toll Free: 866 580 5700<br/>
					T. 1 423 989 7249<br/>
					F. 1 423 989 7246<p>

					<p>general inquiries:<br/>
					<a href="mailto:info@soworldwide.org">info@soworldwide.org</a></p>
				</div>
			</div>
			<div class="home-header-wrap clearfix">
				<div class="next-prev-butts" id="home-next-butt"><a href=""></a><div id="arrow-up"></div></div>
				<div class="next-prev-butts" id="home-prev-butt"><a href=""></a><div id="arrow-down"></div></div>
				<div>
								<div class="home-header current-slide slide-trans" style="background-image: url('http://soworldwide.org/wp-content/uploads/SOW-Prayer.jpg');">
						<div class="wrap">
							<h1 class="home-page-headline sixcol first text-huge extra-bold serif italic white-text page-headline-show"><a href="http://soworldwide.org/prayer-partner/">Rate your vehicle<span class="learn-more">+ Learn More</span></a></h1>
						</div>
					</div>
								<div class="home-header limbo" style="background-image: url('http://soworldwide.org/wp-content/uploads/2012/08/SiemReap4.jpg');">
						<div class="wrap">
							<h1 class="home-page-headline sixcol first text-huge extra-bold serif italic white-text"><a href="http://soworldwide.org/at-the-start-of-possible/">Buy or Sell your vehicle<span class="learn-more">+ Learn More</span></a></h1>
						</div>
					</div>
								<div class="home-header limbo" style="background-image: url('http://soworldwide.org/wp-content/uploads/T-Shirt-Slider.jpg');">
						<div class="wrap">
							<h1 class="home-page-headline sixcol first text-huge extra-bold serif italic white-text"><a href="http://soworldwide.org/new-t-shirts/">Suggest an Idea<span class="learn-more">+ Learn More</span></a></h1>
						</div>
					</div>
								@*<div class="home-header limbo" style="background-image: url('http://soworldwide.org/wp-content/uploads/2012/08/HogarApape2.jpg');">
						<div class="wrap">
							<h1 class="home-page-headline sixcol first text-huge extra-bold serif italic white-text"><a href="http://soworldwide.org/serving-orphans-sundays/">Serving Orphans Sundays<span class="learn-more">+ Learn More</span></a></h1>
						</div>
					</div>*@
							</div>
				<div class="home-social">
					<div class="fb-like" data-href="https://www.facebook.com/soworldwide" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://soworldwide.org" data-text="Possible starts now for orphans in need all over the world. " data-related="servingorphans">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<div id="home-content">
				<div class="wrap clearfix">
					<p class="fourcol first">At Serving Orphans Worldwide, we fill in the gap between unrealized potential and continued success for orphanages all over the world, empowering them to achieve sustainability and excellence.</p>
					<div class="eightcol last" id="subhead"></div>
				</div>
				<div id="home-content-fake"></div>
			</div>
						<div id="spotlight">
				<div class="wrap clearfix white-text">
					<h1><small class="bold uc">Orphanage Spotlight</small><br />Hope for the Children</h1>
					<div class="sixcol no-mtop">
						<p>LOCATION:  Nairobi, Kenya</p>
<p>NUMBER OF CHILDREN: Over 580 children served per day</p>
<p>ORPHANAGE NEEDS:  Monthly support &#038; funds to purchase a truck for hauling supplies.</p>
<p>If you’re a child in Kenya, you’re lucky to have living parents. And even if you do, life is harsh. There’s little food to eat, and sometimes leaving the family is the only option. Thousands become street children; vulnerable to abuse, drug addiction and AIDS.</p>
<p> When David Hinga, a Christian pastor, and his wife, Alice, began a ministry near the city of Nairobi in 1998, they were particularly troubled by the plight of children. In their area, work on coffee plantations was the main source of income for most families. Sadly, children were often encouraged to forfeit school in lieu of receiving a working wage on the farms.</p>
<p>This bothered David, who believes every youngster deserves a nurturing childhood and a decent education. With malnourishment at a crisis point, he decided that launching a daytime feeding program would make the most impact. His idea was first to attract the children with porridge and then to introduce them to learning activities.</p>
<p> Today, the facility operates strictly as a feeding and educational center during normal workday hours – addressing the needs of 580 children per day. Daycare services for all ages of children are also provided, along with counseling for mothers on issues such as proper parenting, nutrition, family planning and HIV/AIDS.</p>
						<div id="orphanage-buttons">
							<a href="http://soworldwide.org/custom_type/hope-for-the-children/" class="orphanage-more">Read More about this<br>children's home</a>
							<a href="/category/orphanages">Learn About Our Other<br>Children's Homes</a>
						</div>
					</div>
					<div id="spotlight-images" class="sixcol last">
						<div class='twelvecol first last black-bg text-center'><img src="" id="spotlight-poster" class="first"></div>
						<img src='http://soworldwide.org/wp-content/uploads/2012/08/Hope1-466x296.jpg' class=''><img src='http://soworldwide.org/wp-content/uploads/2012/08/Hope2-466x296.jpg' class=''><img src='http://soworldwide.org/wp-content/uploads/2012/08/Hope3-466x296.jpg' class=''><img src='http://soworldwide.org/wp-content/uploads/2012/08/Hope4-466x296.jpg' class=''>					</div>

				</div>
			</div>
						<div id="involved" class="text-center">
				<div class="wrap clearfix">
					<div class="fourcol first pad-30">
						<div class="involved-icon" style="background-image:url(http://soworldwide.org/wp-content/themes/soww_theme/library/images/adopt.png);"></div>
						<h3 class="serif light bigtext">Rate your Bike or Car</h3>
						<p>Support an orphanage and make an impact on an entire community.<br><br></p>
						<a class="uc" href="/get-involved/adopt-an-orphanage">Learn More</a>
					</div>
					<div class="fourcol pad-30">
						<div class="involved-icon" style="background-image:url(http://soworldwide.org/wp-content/themes/soww_theme/library/images/campaign.png);"></div>
						<h3 class="serif light bigtext">Buy or Sell your vehicle</h3>
						<p>Invite your friends and neighbors to join the fight for orphans around the world.</p>
						<a class="uc" href="/get-involved/run-a-campaign">Learn More</a>
					</div>
					@*<div class="fourcol last pad-30">
						<div class="involved-icon" style="background-image:url(http://soworldwide.org/wp-content/themes/soww_theme/library/images/visit.png);"></div>
						<h3 class="serif light bigtext">Suggest Improvements</h3>
						<p>Go beyond and experience their stories first hand.<br><br></p>
						<a class="uc" href="/get-involved/visit-an-orphanage">Learn More</a>
					</div>*@
				</div>
			</div>
			<div id="donate-poster">
				<div class="wrap clearfix" id="donate-text">
					<div class="twocol">
						<img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/donate-icon1.png">
					</div>
					<div class="fourcol white-text uc bold">
						<h2>100%</h2>
						<p>of your funds go straight to the front lines of orphan care all over the world.</p>
					</div>
				</div>
				<div class="wrap clearfix">
					<a class="block white-bg uc bold primary-text fivecol" id="home-donate" href="/donate">Please Make a Donation&nbsp;<img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/heart.png"></a>
				</div>
			</div>
			
			<div id="social">
				<div class="wrap clearfix white-text">
					<div class="fivecol-nom first white-bg" id="fbt">
						<div class="pad-30" id="twitter-container">
							<h3 class="uc bold"><a href="http://twitter.com/servingorphans"></a></h3>
							<p id="tweet" class="serif light">“Say hello to our children in Myanmar! This is our latest orphanage we started supporting.”</p>
							<a class="bold uc white-text social-pop-up" href="https://twitter.com/share?text=Every%20orphan%20has%20the%20right%20to%20have%20an%20amazing%20life.%20Possible%20starts%20now.%20%40servingorphans"><img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/twitter_icon.png"> Donate a Tweet</a>
							<a class="bold uc white-text floatright" href="https://twitter.com/intent/user?screen_name=servingorphans" target="_blank"><img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/twitter_icon.png"> Follow Us</a>
						</div>
						<div id="fb">
							<div class="fb-like" data-href="https://www.facebook.com/soworldwide" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
							<a class="bold uc white-text floatright social-pop-up" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsoworldwide.org%2F" target="_blank"><img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/facebook_icon.png">   Share with a Wall Post</a>
						</div>
					</div>
					<div class="threecol-nom" id="blog-roll">
						<div class="pad-30">
															<h3 class="uc bold">On the Blog</h3>
							<p class="serif light">
								<p>Will you consider becoming one of our Prayer Family? This year, Serving Orphans Worldwide is asking for 700 prayer partners&#8230;</p>
							</p>
							<a class="uc" href="http://soworldwide.org/prayer-partner/">Read More</a>
													</div>
					</div>
					<div class="threecol-nom" id="instagram">
						<div class="inner">
							<h3 class="uc bold">On Instagram</h3>
															<div id="wpinstagram-widget-2" class="widget widget_wpinstagram-widget"><ul class="wpinstagram" style="width: 220px; height: 220px;"><li><a href="http://distilleryimage0.s3.amazonaws.com/2a0e857285d411e2902022000a1ddbd3_7.jpg" title="Rev. Ebi George stopped by our U.S. offices today to give is an update on how things are progressing in India. It was a great visit! More details coming soon." rel="wpinstagram-widget-2"><img src="http://distilleryimage0.s3.amazonaws.com/2a0e857285d411e2902022000a1ddbd3_6.jpg" alt="Rev. Ebi George stopped by our U.S. offices today to give is an update on how things are progressing in India. It was a great visit! More details coming soon." width="220" height="220" /></a></li></ul><script>
jQuery(document).ready(function($) {
	$("#wpinstagram-widget-2 ul").cycle({fx: "fade", timeout: 4000});
});
</script>
</div>													</div>
					</div>
				</div>
			</div>
    
			</div> <!-- end #content -->

			<footer class="footer" id="main-footer" role="contentinfo">
			
				<div id="inner-footer" class="wrap clearfix">
					
					<nav role="navigation">
    					<ul id="menu-footer-nav" class="nav footer-nav clearfix"><li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://soworldwide.org/">Home</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://soworldwide.org/about/">About</a></li>
<li id="menu-item-38" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-38"><a href="http://soworldwide.org/category/orphanages/">Orphanages</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://soworldwide.org/projects/">Get Involved</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="http://soworldwide.org/media/">Media</a></li>
<li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="http://soworldwide.org/contact/">Contact</a></li>
</ul>	                </nav>
	                <p class="eightcol first mediumtext"><span class='h2 italic extra-bold serif'>Join us.</span> We invite you to become a lasting piece in the greater narrative of someone’s life. Go beyond what is expected; help us provide orphanages with the means to achieve and sustain excellence.</p>
					<ul class="twocol arrowlist">
						<li><a href="/get-involved/run-a-campaign">Run a Campaign</li>
						<li><a href="/donate">Give to S.O.W.</a></li>
						<li><a href="/get-involved/visit-an-orphanage">Visit an Orphanage</a></li>
					</ul>
					<ul class="twocol last arrowlist">
						<li><a href="/blog">Blog</a></li>
						<li><a href="http://twitter.com/servingorphans" target="_blank">Twitter</a></li>
						<li><a href="http://facebook.com/ServingOrphansWorldwide">Facebook</a></li>
					</ul>
				</div> <!-- end #inner-footer -->
				<div id="badge">
					<div class="fb-like" data-href="https://www.facebook.com/soworldwide" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					<a href="http://whiteboard.is/?ref=soww" target="_blank"><img src="http://soworldwide.org/wp-content/themes/soww_theme/library/images/wb-badge.png"></a><a href="http://miabaker.com/" target="_blank">Photography by Humanitarian Photographer, Mia Baker</a>
				</div>
				
			</footer> <!-- end footer -->
		
		</div> <!-- end #container -->
		
		<script>
	jQuery(document).ready(function($) {
		$("ul.wpinstagram").find("a").fancybox({
			"transitionIn":			"elastic",
			"transitionOut":		"elastic",
			"easingIn":				"easeOutBack",
			"easingOut":			"easeInBack",
			"titlePosition":		"over",
			"padding":				0,
			"hideOnContentClick":	"true"
		});

		$.get('', function (data) {
		    $('.result').html(data);
		    alert('Load was performed.');
		});
	});
</script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/themes/soww_theme/library/js/plugins.js?ver=3.4.1'></script>
<script type='text/javascript' src='http://soworldwide.org/wp-content/themes/soww_theme/library/js/scripts.js?ver=3.4.1'></script>
		<script type="text/javascript" src="//use.typekit.net/wxm0zxk.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</body>

</html> <!-- end page. what a ride! -->